
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
  margin: 0;
  background-image: url(./images/assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header-sec{
  text-align: center;
}
.body-container{
  display: flex;
  justify-content: center;
  width: 100%;
}
.container {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  font-size: 16px;
  margin: 5px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 20rem;
  transition: transform .2s;
  border: 3px solid transparent;
}

.side-img{
  padding-left: 5rem;
}

.container h3 {
  background-color: rgb(190, 25, 83);
  border-radius: 30px;
  color: #fff;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: transform .2s;
}

/*.container:before,
.container:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #000000;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
  opacity: 0.9;
  z-index: 1;
}*/
#title-two{
  color: white;
  font-family: 'Luckiest Guy', cursive;
  font-size: 32px;
}
.container:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.container:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.container img {
  backface-visibility: hidden;
  width: 100%;
  max-width: 100%;
  vertical-align: top;
}
#title-one{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
  white-space: nowrap;
}

.container figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  /*-webkit-box-shadow: 0 0 10px #000000;*/
  /*box-shadow: 0 0 10px #000000;*/
}

.container a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.container:hover {
  transform: scale(1.2);
  z-index: 1;
  border: 3px solid #fff;
}

/*.container:hover:before,
.container.hover:before {
  -webkit-transform: skew(45deg) translateX(-55%);
  transform: skew(45deg) translateX(-55%);
}*/

/*.container:hover:after,
.container.hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}*/

.container:hover figcaption,
.container.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
